<!-- Generated template for the SubmitteditemComponent component -->
<ion-card *ngIf="boot != null" class="d-flex flex-column justify-content-between">
  <div class="flex-grow-1 d-flex flex-column">
    <ion-card-content>
      <ion-card-title>
        {{boot.nick}}
      </ion-card-title>
      <button ion-button color="danger" *ngIf="admin" (click)="delete(boot)">Delete</button>
    </ion-card-content>
    <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center imageContainer p-relative" style="background:#222222;"
    >
    <!-- [style]="imgDivStyle" -->
      <img src="{{url}}" alt="">
    </div>
    <ion-card-content *ngIf="!!boot.text">
      <p>
        {{boot.text}}
      </p>
    </ion-card-content>
  </div>
  <ion-list>

    <ion-item *ngIf="boot.rank">
      <ion-icon item-start name="megaphone" color="primary">
      </ion-icon>
      <h2>Rang</h2>
      <ion-note item-end>{{boot.rank}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="time" color="primary"> </ion-icon>
      <h2>Veröffentlicht</h2>
      <ion-note item-end>{{formattedTime}}</ion-note>
    </ion-item>
  </ion-list>
</ion-card>
