submitteditem {
  div.imageContainer{
    height: 500px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    img{
      position: relative;
      margin: -50% auto;/* virtualy height needed turn don to zero */
    }
  }
}
