// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: 'Fira Sans';
//   src: url('../assets/fonts/FiraSans-BoldItalic.otf') format('opentype');
//   font-weight: bold;
//   font-style: italic;
// }

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

body,
ion-app.md {
  font-family: "Fira Sans", "Roboto", "Helvetica Neue", sans-serif;
}

blockquote {
  background: #f8f8f8;
  border-radius: 6px;
  border-left: 2px solid #488aff;
  color: #555555;
  font-family: Sans;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

blockquote > p{
  color:#333333;
  display:block;
  font-style: italic;
  margin: 0;
}

ion-label,
.label-md[stacked] {
  color: #555;
  font-size: 1.4rem;
}
.p-relative {
  position: relative;
}

.d-flex {
  display:flex;
  justify-content:stretch;
  align-items: stretch;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
